Q1

In [ ]:
fruits = ['apple' , 'orange' , 'banana' , 'mango','grapes']

In [ ]:
fruits[0]

'apple'

In [ ]:
fruits[-1]

'grapes'

In [ ]:
fruits[1:4]

['orange', 'banana', 'mango']

Q2

In [ ]:
names = {'Alice': 21, 'Bob': 22, 'Charlie': 20, 'David': 23, 'Eve': 19}

In [ ]:
names['Charlie']

20

In [ ]:
names['Frank'] = 24

In [ ]:
names

{'Alice': 21, 'Bob': 22, 'Charlie': 20, 'David': 23, 'Eve': 19, 'Frank': 24}

Q3

In [ ]:
def duplicates(list):
    duplicates = []
    seen = set()
    for num in list:
        if num in seen and num not in duplicates:
            duplicates.append(num)
        seen.add(num)
    return duplicates

In [ ]:
list = [1,1,1,2,3,3,4,5,6,7]
duplicates(list)

[1, 3]

Q4

In [ ]:
def splitsize(list,size):
    ans=[]
    listsize = len(list)
    ans = []
    for i in range(0, listsize, size):
        temp = list[i:i+size]
        ans.append(temp)
    return ans

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
size = 3
splitsize(list,size)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Q5

In [ ]:
def lensort(list):
    return sorted(list,key=len)

list = ['apple' , 'orange' , 'banana' , 'mango','grapes']
print(lensort(list))

['apple', 'mango', 'orange', 'banana', 'grapes']

Q6

In [ ]:
file1  = open("file1.txt","w")
file1.write("Anshika Rajput")
file1.close()

In [ ]:
file1 = open("file1.txt","r+")
print(file1.read())
print()

Anshika Rajput

In [ ]:
file1.seek(0)

print("Output of Readline function is ")
print(file1.readline())
print()

Output of Readline function is
Anshika Rajput

Q7

In [1]:
t=("Anshika","Khushi","Ritika","Saina","Shireen")
print(t)
t=t+("Divyanshi",)
print("After Adding:",t)
t=t[:2]+t[3:]
print("After deleting 2 index:",t)
print("Student from 1 to 3:",t[1:3])
print("Trying to modify tuple will raise an error TypeError: 'tuple' object does not support item assignment ")

('Anshika', 'Khushi', 'Ritika', 'Saina', 'Shireen')
After Adding: ('Anshika', 'Khushi', 'Ritika', 'Saina', 'Shireen', 'Divyanshi')
After deleting 2 index: ('Anshika', 'Khushi', 'Saina', 'Shireen', 'Divyanshi')
Student from 1 to 3: ('Khushi', 'Saina')
Trying to modify tuple will raise an error TypeError: 'tuple' object does not support item assignment

Q8

In [2]:
dict={"Anshika":30,"Khushi":20,"Ritika":25,"Saina":19,"Shireen":14}
print("Students greater than 20:")
for name,age in dict.items():
    if age>20:
        print(name)
dict["Pakhi"]=30
print("After adding Pakhi:")
print(dict)
for name,age in dict.items():
    print(f"{name}: {age}")
del dict["Pakhi"]
print("After deleting Pakhi:")
print(dict)
total=sum(dict.values())
avg=total/len(dict)
print("Average age:{avg.2f}")

Students greater than 20:
Anshika
Ritika
After adding Pakhi:
{'Anshika': 30, 'Khushi': 20, 'Ritika': 25, 'Saina': 19, 'Shireen': 14, 'Pakhi': 30}
Anshika: 30
Khushi: 20
Ritika: 25
Saina: 19
Shireen: 14
Pakhi: 30
After deleting Pakhi:
{'Anshika': 30, 'Khushi': 20, 'Ritika': 25, 'Saina': 19, 'Shireen': 14}
Average age:{avg.2f}

Q9

In [3]:
l=[1,2,3,4,5,6,7,8,9]
for num in l:
    if(num%2==0):
        print(num)

2
4
6
8

Q10

In [4]:
def duplicate(numbers):
    duplicates = []
    seen = set()

    for num in numbers:
        if num in seen and num not in duplicates:
            duplicates.append(num)
        seen.add(num)

    return duplicates
l=[1,2,3,1,2,3,1,2,3,4]
ans=duplicate(l)
print(ans)

[1, 2, 3]

Q11

In [5]:
s="Hello! I am Anshika."
print(s[::-1])

.akihsnA ma I !olleH

Q12

In [6]:
a,b=0,1
for i in range(0,5):
    print(a,end=' ')
    a,b=b,a+b

0 1 1 2 3

Q13

In [7]:
with open("hello.txt", "w") as file:
    file.write("Hi, I am currently pursuing my BTech from Jaypee.")

print(f"The contents of file have been replaced successfully.")

The contents of file have been replaced successfully.

Q14

In [8]:
from collections import defaultdict

def find_anagrams(words):
  """
  Finds and groups anagrams in a given list of words.
  """
  anagram_map = defaultdict(list)
  for word in words:
    sorted_word = "".join(sorted(word))
    anagram_map[sorted_word].append(word)

  return [group for group in anagram_map.values() if len(group) > 1]

word_list = ['eat', 'ate', 'done', 'tea', 'soup', 'node', 'tan', 'nat']
anagram_groups = find_anagrams(word_list)
print(f"Anagrams in {word_list}:")
print(anagram_groups)

Anagrams in ['eat', 'ate', 'done', 'tea', 'soup', 'node', 'tan', 'nat']:
[['eat', 'ate', 'tea'], ['done', 'node'], ['tan', 'nat']]